<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Harimao Tao</title>
        <meta name="description" content="Página de una escuela de artes marciales. Entrenar diferentes diciplinas marciales, mindfullness y nutricionales">
        <meta name="Author" content="Verónica Montero">
        <meta name="keywords" content="artes marciales, Wushu, Muay thai, meditación, nutrición, entrenamiento, salud, bienestar">
        <meta name="revisit-after" content="2 days">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" type="image/png" href="../favicon.png">
    </head>
    <body>
        <!--Comenzamos con Header, nuestra cabecera con el logo y el nombre de la empresa, y la barra de navegación-->
        <header>
            <div class="cabecera">
                <img src="../assets/img/Logo_sin_fondo_1.png" class="logo" width="644" height="639" alt="Logo del gimnasio. Un tigre y una flor de loto junto con el nombre de la empresa">
                <h1>Harimao tao</h1>
                <img src="../assets/img/templo_pequeño.png" class="templo" width="724" height="485" alt="Templo japonés en negativo">
            </div>
            <nav class="navBar" id="navBar">
                <ul class="navLinks">
                    <li><a class="out" href="../index.html">INICIO</a></li>
                    <li class="formacion">
                        <a class="inn" href="#">FORMACIÓN</a>
                        <ul class="formacion-content">
                            <li><a class="inn" href="#">Artes marciales</a></li>
                            <li><a class="out" href="./yoga.html">Yoga</a></li>
                            <li><a class="out" href="./nutricion.html">Nutrición</a></li>
                            <li><a class="out" href="./entrenador_personal.html">Entrenador personal</a></li>
                        </ul>
                    </li>
                    <li><a class="out" href="./galeria.html">GALERÍA</a></li>
                    <li><a class="out" href="./presupuesto.html">PRESUPUESTO</a></li>
                    <li><a class="out" href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        
        <!--Comenzamos con Main, Consta de 4 partes: Presentación (título y párrafo), Muay thai, Wushu y Defensa personal -->
        <main class="black mainArtesMarciales">
            <h3 class="tituloOpiniones">Artes Marciales</h3>
            <p>No te pierdas las diversas clases de artes marciales que podrás encontrar. Traidas de diferentes partes del mundo. Con un entrenamiento tradicional, donde la disciplina y el respeto imperan por encima de todo. En todas nuestras artes marciales trabajrás tanto la condición física, como la técnica y la consciencia. </p>
            <div class="marciales-container">
                <h4>Muay thai</h4>
                <div class="tiposMarciales">
                    <img src="../assets/img/galeria/Viaje_tailandia_5.jpg" class="imgMarciales" alt="Dos luchadores peleando en un ring" width="1280" height="853">
                    <p>Arte marcial Thailandés.  Basado sobretodo en <span>golpeos con puños, codos, rodillas y patadas</span>. Ven y descubre el tradicional y contundente arte marcial thailandesa. Con un maestro formado en la cuna del arte marcial. entrenamientos tradicionales propios. Preparación para combates y competeciones, si es lo que deseas.</p>
                </div>
                <p>Martes y jueves: 18:30 a 19:30</p>
                <p>Lunes y Miércoles (infantil): 17:30 a 18:30</p>
            </div>
            <div class="backgroundBlanco">
                <div class="marciales-container white">
                    <h4>Wushu Kung Fu</h4>
                    <div class="tiposMarciales">
                        <img src="../assets/img/galeria/Artes_marciales_manos.jpg" class="imgMarciales" alt="Dos manos en contacto" width="1280" height="853">
                        <p>Arte marcial chino tradicional.  Su antigüedad la desfribe como el primer arte marcial. Lleno de arte, <span>consta de toda una serie de golpeos con todas las partes del cuerpo. Uso de muchas armas diferentes</span>. Ven y descubre al tradicional y bell arte marcial china. Con un maestro formado en la cuna del arte marcial. entrenamientos tradicionales propios. Preparación para combates y competeciones, si es lo que deseas.</p>
                    </div>
                    <p>Martes y jueves: 19:30 a 20:30</p>
                    <p>Lunes y Miércoles (infantil): 16:30 a 17:30</p>
                </div>
            </div>
            <div class="marciales-container">
                <h4>Defensa personal</h4>
                <div class="tiposMarciales">
                    <img src="../assets/img/galeria/Defensa_personal.jpg" class="imgMarciales" alt="Chica haciendo defensa personal con un chico" width="1280" height="853">
                    <p>Aprende a defenderte y sobretodo, a entrenar la parte emocional para conseguir una respuesta eficaz y rápida.  Basado sobretodo en <span>golpeos con puños, luxaciones, reducciones en el suelo, puntos de presión, etc...</span>. Ven y desarrolla habilidades para poder defenderte de una forma eficaz. es importante remarcar que la defensa personal no es algo que se aprenda en unas horas. requiere práctica, y entrenar en situaciones de estrés.</p>
                </div>
                <p>Martes y jueves: 20:30 a 21:30</p>
            </div>
        </main>
        
        <!--Comenzamos con Footer, con los derechos, datos de la empresa y mapa-->
        <footer>
            <div class="redesSociales">
                <h3>Síguenos en:</h3>
                <ul class="red">
                    <li>
                        <a href="https://es-es.facebook.com/login.php/" title="Facebook" target="_blank">
                            <img class="icono" src="../assets/img/facebook.png" width="56" height="56" alt="aplicacion facebook" title="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank">
                            <img class="icono" src="../assets/img/instagram.png" width="56" height="56" alt="aplicacion instagram" title="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.whatsapp.com/?lang=es_LA" title="WhatsApp" target="_blank">
                            <img class="icono" src="../assets/img/whatsapp.png" width="60" height="60" alt="aplicacion whatsapp" title="WhatsApp">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legales">
                <h3>Contáctanos:</h3>
                <p>Harimao Tao</p>
                <p>Calle la Colegiata, Nº 7 Nava (Asturias)</p>
                <p>Teléfono móvil: 670 80 90 50</p>
                <p>&copy; Harimao Tao</p>
                <p>Aviso Legal | Política de Cookies | Política de Privacidad</p>
            </div>
            <div class="cajaMap">
                <h3>Ubicación:</h3>
                <div id ="map"></div>
            </div>
        </footer>


        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="../javascript/script.js"></script>
    </body>
</html>


